---
import GoBackButton from "components/GoBackButton.astro";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <GoBackButton />

  <div>
    <h2>Aprendizado</h2>
    <p>
      Nessa secao a ideia écompartilhar projetos, anotacoes e ideias durante meu
      estudo sobre algum tópico
    </p>
    <a href="/pt-br/learning/weekly">Estudos, reflexões e ideas semanais</a>
  </div>
</BaseLayout>
