---
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("blog", (data) => {
  const lang = data.id.split("/");
  return lang.includes("en");
});

const sortedPosts = posts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});
---

<BaseLayout>
  <main class="blog-container">
    <section class="intro">
      <h1>Guilherme Nascimento</h1>
      <p class="subtitle">Fullstack Developer</p>
      <p>
        I'm a Brazilian software engineer working with .NET, Azure, React, and
        TypeScript. Currently focusing on unit/integration testing, TypeScript, .NET and DevOps.
      </p>
    </section>
    <section class="bio">
      <p>I enjoy Magic, astronomy, music, and reading.</p>
      <p>
        Visit my <a href="https://github.com/Viilih">GitHub</a> for my projects.
        A blog repository will be available soon!
      </p>
    </section>
    <section class="posts">
      <h2>Posts</h2>
      <PostList posts={sortedPosts} />
    </section>
  </main>
</BaseLayout>

<style>
  .blog-container > p{{
    margin-bottom: 0;
  }}
</style>
