---
import GoBackButton from "components/GoBackButton.astro";
import Link from "components/Link.astro";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <GoBackButton />
  <div>
    <h1>What am I doing right now?</h1>
    <span>{
      new Date().toLocaleString()}</span>
  </div>
  <div>
    <h3>Work</h3>
    <p>
      Currently I am working as a fullstack developer at <Link href="https://stefanini.com/pt-br">Stefanini</Link>
    </p>
    <p>
      I usually work with these technologies:
      <ul>
        <li>NodeJS</li>
        <li>NestJS</li>
        <li>React</li>
        <li>Typescript</li>
        <li>Azure DevOps</li>        
        <li>Java / Spring Boot</li>
        <li>Postgres</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Studies</h3>
    <p>
      By the time you are reading this, I'm studying one of these topics:
      <ul>
        <li>Computer Science Fundamentals</li>
        <li>Data Structures and Algorithms</li>
        <li>System Design</li>
        <li>DevOps (Kubernetes and Docker)</li>
        <li>TypeScript</li>
        <li>Java / Spring Boot</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>What am I Building?</h3>
    <p>Currently maintaining this blog and writing posts</p>
    <p>In addition to the blog, I am also working on a personal project to enhance my skills.</p>
  </div>
  <div>
    <h3>Hobbies</h3>
    <p>Playing guitar (electric and acoustic)</p>
    <p>Brazilian Jiu Jitsu (BJJ)</p>
  </div>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 0;
  }
</style>