---
import GoBackButton from "components/GoBackButton.astro";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <GoBackButton />
  <h2>Weekly studies,reflections and ideas</h2>
  <p></p>
</BaseLayout>
