body {
  margin: 0;
  font-family: lora;
  color: #333;
  line-height: 1.5;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
}

pre [data-line] {
  padding: 0 0.6rem;
}
