---
import Link2 from "./Link2.astro";

const currentLocale = Astro.currentLocale || "en";

const backText = currentLocale === "pt-br" ? "Voltar" : "Go back";

const baseUrlBasedOnLocale = currentLocale === "pt-br" ? "/pt-br" : "/en";
---

<Link2 href={baseUrlBasedOnLocale}>
  <p class="hover:text-blue-500">{backText}</p>
</Link2>
