<nav>
    <ul>
        <li><a href="/posts">Writing</a></li>
        <li>About</li>
        <li>Lists</li>
    </ul>
</nav>

<style>
    nav {
        width: 10rem;
        height: 100%;
        border-right: 2px solid rgb(113, 116, 116); /* Set the right border directly */
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }
    li {
        list-style: none;
        width: fit-content;
        font-size: 1.2rem;
        cursor: pointer;
    }
</style>
