<ul class="sidebar">
    <li><a href="/">Writing</a></li>
</ul>  
<style>
  .sidebar {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a:hover {
    color: #0077cc;
  }
</style>
  