---
import GoBackButton from "components/GoBackButton.astro";
import Link from "components/Link.astro";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <GoBackButton />
  <div>
    <h1>O que estou fazendo agora?</h1>
    <span>{
      new Date().toLocaleString('pt-br')}</span>
  </div>
  <div>
    <h3>Trabalho</h3>
    <p>
      Atualmente, trabalho como desenvolvedor na
      <Link href="https://stefanini.com/pt-br">Stefanini</Link> lidando com essas tecnologias:
      <ul>
        <li>NodeJS</li>
        <li>NestJS</li>
        <li>React</li>
        <li>Typescript</li>
        <li>Azure DevOps</li>        
        <li>Java / Spring Boot</li>
        <li>Postgres</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>Estudos</h3>
    <p>
      No momento em que você está lendo isto, estou estudando um desses tópicos:
      <ul>
        <li>DevOps (Kubernetes e Docker)</li>
        <li>Conceitos fundamentais de Ciência da Computação</li>
        <li>Typescript</li>
        <li>Estruturas de Dados e Algoritmos</li>
        <li>System design</li>
        <li>Java / Spring Boot</li>
      </ul>
    </p>
  </div>
  <div>
    <h3>O que estou construindo?</h3>
    <p>Este blog até o momento</p>
  </div>
  <div>
    <h3>Hobbies</h3>
    <p>Tocar guitarra e violão</p>
    <p>Pratico Jiu Jitsu (BJJ)</p>
  </div>
</BaseLayout>

<style>
  h1 {
    margin-bottom: 0;
  }
</style>
