---
import GoBackButton from "components/GoBackButton.astro";
import BaseLayout from "layouts/BaseLayout.astro";
---

<BaseLayout>
  <GoBackButton />

  <div>
    <h2>Learning</h2>
    <p>
      In this section I will share some thoughts and notes during my learning
      process
    </p>
    <a href="/en/learning/weekly">Weekly reflections, studies and ideas </a>
  </div>
</BaseLayout>
