---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <div class="postContainer">
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <slot />
  </div>
</BaseLayout>
<style>
   .postContainer{
    width: 40vw;
   }
</style>

